@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ubuntu);

  --color-panel: #2e2e2e;
  --color-primary-1: #aaa317;
  --color-primary-2: #e7e17c; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242424;    ;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ubuntu), ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

.page_title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}
